Repository StatCan/aaw-contrib-containers, changes with the owners that CODEOWNERS names for each.
All owners: @statcan/aaw-maintainers, @statcan/aaw-admins, @StatCan/aaw-admins, @statcan/daaas-workflows

CODEOWNERS:

# DAaaS are the default owners
*                     @statcan/aaw-maintainers

# Codeowners is restricted
CODEOWNERS            @statcan/aaw-admins
LICENSE               @StatCan/aaw-admins
LICENSE.md            @StatCan/aaw-admins

# Workflows are restricted
/.github/workflows/   @statcan/daaas-workflows

# Project-specific owners
#
# User:
## /example/ @githubuser
# Team:
## /example/ @statcan/teamname
# Multiple can be set on the same line

fix: sshd_config
  mpi-operator/Dockerfile
Owners: @statcan/aaw-maintainers

fix: sshd_config (#126)
  mpi-operator/Dockerfile
Owners: @statcan/aaw-maintainers

add openmpp and build deps to ompp image
  .github/workflows/publish.yml
  mpi-operator/Dockerfile
  ompp-run-ubuntu/Dockerfile
Owners: @statcan/daaas-workflows, @statcan/aaw-maintainers

fix: ompp-run paths
  ompp-run-ubuntu/Dockerfile
Owners: @statcan/aaw-maintainers

fix: create home dir with user
  ompp-run-ubuntu/Dockerfile
Owners: @statcan/aaw-maintainers

Add openmpp and build deps to ompp image (#127)
  .github/workflows/publish.yml
  mpi-operator/Dockerfile
  ompp-run-ubuntu/Dockerfile
Owners: @statcan/daaas-workflows, @statcan/aaw-maintainers

fix: base_ref not available on push action, use ref_name
  .github/workflows/publish.yml
Owners: @statcan/daaas-workflows

fix: base_ref not available on push action, use ref_name (#128)
  .github/workflows/publish.yml
Owners: @statcan/daaas-workflows

fix: searching for github env that contains branch name on push...
  .github/workflows/publish.yml
Owners: @statcan/daaas-workflows

fix: searching for github env that contains branch name on push... (#129)
  .github/workflows/publish.yml
Owners: @statcan/daaas-workflows

new openmpp version, config modified
  .github/workflows/publish.yml
  mpi-operator/Dockerfile
  ompp-run-ubuntu/Dockerfile
Owners: @statcan/daaas-workflows, @statcan/aaw-maintainers

fix: add ompp date variable for filename
  ompp-run-ubuntu/Dockerfile
Owners: @statcan/aaw-maintainers

feat: add trivvy mirrors to build env variables
  .github/workflows/build.yml
Owners: @statcan/daaas-workflows

fix: upgrade trivy to support multiple db urls
  .github/workflows/build.yml
Owners: @statcan/daaas-workflows

chore: update trviy settings
  .github/workflows/build.yml
Owners: @statcan/daaas-workflows

fix: upgrade kubectl due to vuln
  mpi-operator/Dockerfile
  ompp-run-ubuntu/Dockerfile
Owners: @statcan/aaw-maintainers

fix: test latest kubectl version supported by AAW cluster
  mpi-operator/Dockerfile
  ompp-run-ubuntu/Dockerfile
Owners: @statcan/aaw-maintainers

new openmpp version, config modified, trivy updated (#130)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  mpi-operator/Dockerfile
  ompp-run-ubuntu/Dockerfile
Owners: @statcan/daaas-workflows, @statcan/aaw-maintainers

feat: update trivy in publish workflow
  .github/workflows/publish.yml
Owners: @statcan/daaas-workflows

feat: update trivy in publish workflow (#131)
  .github/workflows/publish.yml
Owners: @statcan/daaas-workflows

update trivy in publish
  .github/workflows/publish.yml
Owners: @statcan/daaas-workflows

update trivy in build
  .github/workflows/build.yml
Owners: @statcan/daaas-workflows

Update trivy (#132)
  .github/workflows/build.yml
  .github/workflows/publish.yml
Owners: @statcan/daaas-workflows

Bump base image version
  ompp-run-ubuntu/Dockerfile
Owners: @statcan/aaw-maintainers

Bump base image version (#133)
  ompp-run-ubuntu/Dockerfile
Owners: @statcan/aaw-maintainers

Adding a dockerfile for a container image of pgadmin utility. No additional layers once I figure out what configs need to be set, for instance db connection.
  pgadmin/Dockerfile
Owners: @statcan/aaw-maintainers

Update build.yml
  .github/workflows/build.yml
Owners: @statcan/daaas-workflows

test exit code
  .github/workflows/publish.yml
Owners: @statcan/daaas-workflows

update(Trivy): version
  .github/workflows/publish.yml
Owners: @statcan/daaas-workflows

test: curl
  .github/workflows/publish.yml
Owners: @statcan/daaas-workflows

test: Trivy BUILD version
  .github/workflows/build.yml
  .github/workflows/publish.yml
Owners: @statcan/daaas-workflows

changed trivy version being specified in github workflow files to fix trivy errors during builds.
  .github/workflows/build.yml
  .github/workflows/publish.yml
Owners: @statcan/daaas-workflows

Reverting return value of workflow portion back to original.
  .github/workflows/build.yml
Owners: @statcan/daaas-workflows

fix(Trivy): scan erroring out early (#135)
  .github/workflows/build.yml
  .github/workflows/publish.yml
Owners: @statcan/daaas-workflows

Adding a dockerfile for a container image of pgadmin utility. No addi… (#134)
  pgadmin/Dockerfile
Owners: @statcan/aaw-maintainers
